/*dropdown menu style*/
ul {
  text-align: left;
  display: inline-block;
  margin: 0;
  padding:0;
  list-style: none;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.40);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.40);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.40);
}
ul li {
  font: bold 12px/18px "Comic Sans MS", cursive, sans-serif;
  display: inline-block;
 
  position: relative;
  padding: 15px;

  cursor: pointer;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
ul li:hover {
  color: #fff;
  
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.70);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.70);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.70);
}
ul li:hover a{
      color: #fff;
}
ul li ul {
  padding: 0;
  position: absolute;
  top: 48px;
  left: 0;

  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  display: none;
  opacity: 0;
  visibility: hidden;
  -webkit-transiton: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -ms-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  -transition: opacity 0.2s;
}
ul li ul li { 

  background: #555;
  
  padding:10px 10px;
  background-color: transparent; 
  display: block; 
  color: #fff;
  text-shadow: 0 -1px 0 #000;
}
ul li ul li:hover { background: #585f7a;
}

 
ul li:hover ul {
	width:180px;
  display: block;
  opacity: 1;

  visibility: visible;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.70);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.70);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.70);
}

.user_link:hover .logout_link {
    width: 100%;
}
.logout_link li a{
    text-decoration:none;
    color:#fff;
}